################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitecture/.vs/CleanArchitecture
/.vs
/CleanArchitecture/.vs/ProjectEvaluation
/CleanArchitecture/CleanArchitecture.API/obj
/CleanArchitecture/CleanArchitecture.Domain/obj
/CleanArchitecture/CleanArchitecture.Infrastructure/obj
